{% extends 'coucou/template.front.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block lead %}Ceci est la section {{ title }} - {{ section.sectionDescription }}{% endblock %}

{% block main %}

    {#  dump(section) #}

    {%- for post in section.posts -%}
        <h3>{{ post.postTitle }}</h3>
        <p>Ecrit par {{ post.user.username }} le {{ post.postDateCreated|date("d/m/Y \à H:i") }}</p>
        <p>{{ post.postDescription }}</p>
        {# affichage des tags si existants #}
        {% for tag in post.tags %}
            {{ tag.tagName }}
            {% endfor %}
        {# création d'une variable contenant le nombre sections #}
        {% set nbSection = post.sections|length %}
        <p>Section{% if nbSection > 1 %}s{% endif%} ({{ nbSection }}) :
            {% for section in post.sections -%}
                <a href="{{ path('section', {id:section.id}) }}">{{ section.sectionTitle }}</a>
                {# si nous ne sommes pas
                 au dernier tour de boucle #}
                {% if not loop.last %}|{% else %}
                <hr>{% endif %}
            {%- endfor -%}

        </p>

        {# sinon (boucle vide) #}
    {% else %}
     <h3>Section vide</h3>
    {%- endfor -%}
{% endblock %}
